.button {
    background-color: lightcyan;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
   
  }
.heading{
    background-color: lightskyblue;
    font-size: 50px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

  